* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.head {
  display: flex;
  position: relative;
  background-color: orange;
  width: 150px;
  height: 122px;
  border-radius: 50%;
}
.ears {
  display: flex;
  position: relative;
}
.ears .ear1 {
  background-color: orange;
  position: relative;
  left: -17px;
  top: -27px;
  width: 56px;
  height: 70px;
  margin-bottom: -35px;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  transform: rotate(-26deg);
}

.ears .ear2 {
  position: relative;
  left: 55px;
  transform: rotate(26deg);
}
.insideEars {
  display: flex;
  position: relative;
}
.insideEars .insideEar1 {
  position: relative;
  background-color: pink;
  left: -115px;
  top: -15px;
  width: 28px;
  height: 50px;
  margin-bottom: -35px;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  transform: rotate(-26deg);
}
.insideEars .insideEar2 {
  position: relative;
  left: -15px;
  transform: rotate(26deg);
}

.eyes {
  display: flex;
  position: relative;
  left: -75px; /* Adjust as needed */
  top: 0px; /* Adjust as needed */
  align-items: center; /* Aligns items along the y-axis */
}

.eyes .eye1,
.eyes .eye2 {
  width: 55px;
  height: 40px;
  background: white;
  border-radius: 50%; /* Makes the eyes circular */
  margin-right: -65px; /* Adjusts the space between the eyes */
}
.pupils {
  display: flex;
  position: relative;
  left: -50px; /* Adjust as needed */
  top: 0px; /* Adjust as needed */
  align-items: center; /* Aligns items along the y-axis */
}

.pupils .pupil1,
.pupils .pupil2 {
  width: 7px;
  height: 35px;
  background: black;
  border-radius: 50%; /* Makes the eyes circular */
  margin-right: -70px; /* Adjusts the space between the eyes */
}
.mouth {
  display: flex;
  position: relative;
  left: -65px; /* Adjust as needed */
  top: 18px; /* Adjust as needed */
  align-items: center; /* Aligns items along the y-axis */
  z-index: 1; /* Makes the mouth appear on top of the face */
}
.mouth .mouth1,
.mouth .mouth2 {
  width: 45px;
  height: 25px;
  background: orange;
  border-radius: 50%;
  border: 4px solid black;
}

.mouthBlocker {
  position: absolute;
  left: 38px; /* Adjust as needed */
  top: 83px; /* Adjust as needed */
  width: 90px;
  height: 13px;
  background-color: orange; /* Change the color as desired */
  z-index: 2; /* Makes the mouth appear on top of the face */
}

.leg1 {
  width: 20px;
  height: 43px;
  background: orange;
  border-radius: 50px / 25px;
  position: relative;
  left: 95px;
  top: -15px;
}
.leg2 {
  width: 20px;
  height: 50px;
  background: orange;
  border-radius: 50px / 25px;
  position: relative;
  left: 37px;
  top: -65px;
}

.character {
  position: absolute;
  top: 0;
  transition: all 0.3s ease;
}

body {
  background-image: url("images/background.gif");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 20%;
}
.button {
  background-color: bisque;
  font-size: 20px;
  padding: 10px;
  text-decoration: none;
  color: black;
  border: 2px solid #000;
  border-radius: 50px;
}
#colorButtons {
  position: absolute;
  top: 40%;
  left: 40%;
}

#backButton {
  position: absolute;
  top: 50%;
  left: 10%;
}
.colorSquare {
  width: 50px; /* This sets the width of the color squares */
  height: 50px; /* This sets the height of the color squares */
  margin: 10px; /* This adds space around each color button */
  border: 2px solid #000; /* This adds a border around each color button */
  border-radius: 10px; /* This makes the corners of the border rounded */
  /* Add other styles as needed */
}
#redSquare {
  background-color: orange;
}

#blueSquare {
  background-color: #fffdd0;
}

#greenSquare {
  background-color: rgb(33, 33, 33);
}

#timer {
  position: absolute;
  top: 40%;
  left: 20%;
  transform: translateX(-50%);
  padding: 10px;
  border: 2px solid #000;
  background-color: rgb(248, 214, 172);
  font-family: Arial, sans-serif;
  font-size: 20px;
}

#start {
  display: flex;
  position: absolute;
  width: 150px; /* Adjust the width */
  height: 50px; /* Adjust the height */
  justify-content: center; /* Center the text horizontally */
  align-items: center; /* Center the text vertically */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#pause,
#restart {
  background-color: bisque;
  width: 100px; /* Change the width */
  height: 50px; /* Change the height */
  margin: 10px; /* Add some space around the buttons */
  border-radius: 25px; /* Add rounded borders */
}
#Character {
  position: absolute;
  left: 0; /* Add this line */
  /* Other styles */
}
#button-container {
  display: flex; /* Add this line */
  position: absolute; /* Position the buttons absolutely */
  top: 10%; /* Center vertically */
  left: 50%; /* Center horizontally */
  transform: translate(-50%, -50%); /* Adjust for the size of the buttons */
}

table {
  border-collapse: collapse;
}

th,
td {
  border: 3px solid black;
  width: 150px;
  height: 150px;
}

th {
  background-color: bisque;
  color: palevioletred;
}

td {
  background-color: palevioletred;
  color: bisque;
}
