* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.button {
    background-color: lime;
    font-size: 20px;
    padding: 10px;
    text-decoration: none;
    color: black;
}
.head {
    display: flex;
    position: relative;
    background-color: orange;
    width: 150px;
    height: 122px;
    border-radius: 50%;
}
.ears {
    display: flex;
    position: relative;
}
.ears .ear1 {
    background-color: orange;
    position: relative;
    left: -17px;
    top: -27px;
    width: 56px;
    height: 70px;
    margin-bottom: -35px;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    transform: rotate(-26deg);
}

.ears .ear2 {
    position: relative;
    left: 55px;
    transform: rotate(26deg);
}
.insideEars {
    display: flex;
    position: relative;
}
.insideEars .insideEar1 {
    position: relative;
    background-color: pink;
    left: -115px;
    top: -15px;
    width: 28px;
    height: 50px;
    margin-bottom: -35px;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    transform: rotate(-26deg);
}
.insideEars .insideEar2 {
    position: relative;
    left: -15px;
    transform: rotate(26deg);
}

.eyes {
    display: flex;
    position: relative;
    left: -75px; /* Adjust as needed */
    top: 0px; /* Adjust as needed */
    align-items: center; /* Aligns items along the y-axis */
}

.eyes .eye1,
.eyes .eye2 {
    width: 55px;
    height: 40px;
    background: white;
    border-radius: 50%; /* Makes the eyes circular */
    margin-right: -65px; /* Adjusts the space between the eyes */
}
.pupils {
    display: flex;
    position: relative;
    left: -50px; /* Adjust as needed */
    top: 0px; /* Adjust as needed */
    align-items: center; /* Aligns items along the y-axis */
}

.pupils .pupil1,
.pupils .pupil2 {
    width: 7px;
    height: 35px;
    background: black;
    border-radius: 50%; /* Makes the eyes circular */
    margin-right: -70px; /* Adjusts the space between the eyes */
}
.mouth {
    display: flex;
    position: relative;
    left: -65px; /* Adjust as needed */
    top: 18px; /* Adjust as needed */
    align-items: center; /* Aligns items along the y-axis */
    z-index: 1; /* Makes the mouth appear on top of the face */
}
.mouth .mouth1,
.mouth .mouth2 {
    width: 45px;
    height: 25px;
    background: orange;
    border-radius: 50%;
    border: 4px solid black;
}

.mouthBlocker {
    position: absolute;
    left: 38px; /* Adjust as needed */
    top: 83px; /* Adjust as needed */
    width: 90px;
    height: 13px;
    background-color: orange; /* Change the color as desired */
    z-index: 2; /* Makes the mouth appear on top of the face */
}

.leg1 {
    width: 20px;
    height: 43px;
    background: orange;
    border-radius: 50px / 25px;
    position: relative;
    left: 95px;
    top: -15px;
}
.leg2 {
    width: 20px;
    height: 50px;
    background: orange;
    border-radius: 50px / 25px;
    position: relative;
    left: 37px;
    top: -65px;
}

.character {
    position: absolute;
    top: 0;
    animation: move-across 3s steps(3) infinite;
}

body {
    background-image: url('images/background.gif');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 20%;
}

#start {
    display: flex;
    position: absolute;
    width: 150px; /* Adjust the width */
    height: 50px; /* Adjust the height */
    justify-content: center; /* Center the text horizontally */
    align-items: center; /* Center the text vertically */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#pause,
#restart {
    width: 100px; /* Change the width */
    height: 50px; /* Change the height */
    margin: 10px; /* Add some space around the buttons */
}

#button-container {
    display: flex; /* Add this line */
    position: absolute; /* Position the buttons absolutely */
    top: 10%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Adjust for the size of the buttons */
}

table {
    border-collapse: collapse;
}

th,
td {
    border: 3px solid black;
    width: 150px;
    height: 150px;
}

th {
    background-color: bisque;
    color: palevioletred;
}

td {
    background-color: palevioletred;
    color: bisque;
}
